{% extends "base.html" %}

{% block titulo %}
Crear curso
{% endblock titulo %}

{% block contenido %}
<div style="display: flex; justify-content: center; align-items: center; height: 25vh;">
    <form method="post">
        {% csrf_token %}
        {{ formulario.as_p }}
        {{ formulario.errors }}
        <input class="btn btn-success" type="submit" value="Guardar" />
        <!--formulario.as_p es lo mismo que las 6 lineas de abajo<p>Nombre del curso</p> <input type="text" name="nombre">
        <p>Comision</p>
        <input type="number" name="comision" step="1">
        <p>Profesor</p>
        <input type="text" name="profesor">
        AL no tener form=action el request lo hace a la ruta en la que se encuentra, por eso ahora elk condicional
        de la view crear curso() teiene el method=post
    -->
    
    </form>
    
</div>
<div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
    <a href="{% url 'Lista de cursos' %}">Ver lista actual de cursos</a>


{% endblock contenido %}