

{% extends 'base.html' %}
{%block titulo%}
Lista de estudiantes
{%endblock titulo%}
{%block contenido%}
        <h1> BIENVENIDOS A LA PLATAFORMA </h1>
        <h1>La comision es {{Comision}}. El autor fue {{Autor}} </h1>

        <h3>Los alumnos son: </h3>

        <ul>

            {% for estudiante in estudiantes %}
                <li>{{estudiante.apellido}}, {{estudiante.nombre}}
                {% if estudiante.nota >= 6%}
                    -----APROBO 
                {% else %}
                    -----DESAPROBO 
                {% endif %}
                </li>

            {% endfor  %}


        </ul>    

        <img src="https://companiesmarketcap.com/img/company-logos/256/GGAL.png" alt="Descripción_de_la_imagen">
            <img src="https://companiesmarketcap.com/img/company-logos/256/GGAL.png" alt="Descripción_de_la_imagen">
            <img src="https://pbs.twimg.com/profile_images/1624037863594553346/Q7yweluu_400x400.jpg" alt="Descripción_de_la_imagen">    



{%endblock contenido%}
    